extends layout

block content
  h1 Sumanth Yeruva

  .container-fluid
    .row
      -
       
    each item in results
        .col-sm-2
            h3 Employee 
            - let destination = `dispatch(\"/Employee/update?id=${item._id}\")` 
            div(onclick=`buy(${index})`)
            p #{item.Employee_fname}, #{item.Employee_lname},#{item.Employee_id}
            button.btn( class="btn-primary ml-1", onclick= destination) Update

  a(href='http://localhost:3000/') Link to Index

  script.
     function buy(variable) {
      alert(`You purchased item ${variable+1}`);
     }
     function dispatch(path){
      window.location.href=path
     }

